<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:include="layout :: head">
    </head>
    <body>
        <div th:include="layout :: navigationPanel"></div>
        <div class="content justify-center mt-4 mx-4 bg-orange mb-0 text-white">
            <div th:if="${deleteMessage != NULL}" class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div th:text="${deleteMessage}"></div>
            </div>
            <div th:if="${loginError != NULL}" class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div th:text="${loginError}"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h1 class="h2 mb-4 font-weight-normal">Logowanie do systemu:</h1>
                    <form th:action="@{/login}" class="mx-3" method="POST">
                        <input type="text" class="form-control mb-2" name="login" placeholder="Login"/>
                        <input type="password" class="form-control mb-2" name="passwd" placeholder="Hasło"/>
                        <button class="btn btn-primary float-right" type="submit">Zaloguj się</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
